[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openai = "*"
python-dotenv = "*"
pylint = "*"
langchain-core = "*"
pydantic = "*"
langchain-community = "*"
openai = "*"
streamlit = "*"
streamlit-chat = "*"

[dev-packages]

[requires]
python_version = "3.12"
